<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Enjoy Kitchen {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/foundation-icons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <script src="{{ asset('js/vendor/modernizr.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('js/foundation.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:100,200,100italic,700normal,700italic|Sorts+Mill+Goudy:400|Montserrat:400"/>
    <!-- foundation datepicker start -->
    <link rel="stylesheet" href="{{ asset('css/foundation-datepicker.css') }}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/foundation-datepicker.js') }}"></script>
    <!-- foundation datepicker end -->
</head>
<body>
<!-- Navigation -->
<header id="header">
    <div data-annotation-alignment="bottom left" data-edit-main-image="Banner" data-collection-id="54f7f6c9e4b0683da0c7e15c" data-content-field="page-settings" class="wrapper clear" id="yui_3_17_2_1_1432459322975_342">
        <div class="primary-image default"></div>
        <div class="logo-image" id="logo">
            <h1 data-content-field="site-title" class="site-title" id="yui_3_17_2_1_1432459322975_341">
                <div class="site-title-border"></div>
                <a href="http://www.enjoykitchencatering.com/" id="yui_3_17_2_1_1432459322975_340">
                    <img alt="Enjoy Kitchen Catering" src="{{ asset('img/logo.png') }}">
                    <span class="site-title-span" data-shrink-original-size="100" style="letter-spacing: 0.04em;">Enjoy Kitchen Catering</span>
                </a>
            </h1>
        </div>
        <div class="folder-nav">
        </div>
    </div>
    <div class="fixed">
        <nav data-topbar="" class="top-bar">
            <ul class="title-area">
                <li class="name"></li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li class="has-dropdown"><a id="menuitem_78" href="#">MENU1</a>
                        <ul class="dropdown">
                            <li><a id="menuitem_246" href="#">Whole Meals - Priced Per Person</a></li>
                            <li><a id="menuitem_81" href="#">ENTREES</a></li>
                            <li><a id="menuitem_82" href="#">SIDES, SALADS AND VEGGIES</a></li>
                            <li><a id="menuitem_83" href="#">APPETIZER PLATTERS AND DIPS</a></li>
                            <li><a id="menuitem_194" href="#">LUNCH</a></li>
                            <li><a id="menuitem_153" href="#">DIY - READY GO MEALS AND PATIES</a></li>
                        </ul>
                    </li><li class="divider"></li>
                    <li class="has-dropdown"><a id="menuitem_268" href="#">Unspecified</a></li>
                    <li class="divider"></li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="#" class="has-tip tip-bottom noradius" title="$0.00" style="border-bottom:0;">
                            <span data-tooltip title="$0.00" data-options="disable_for_touch:true" ><i class="fi-shopping-cart white"></i> 0 items</span>
                        </a>
                    </li>
                    <!-- Search Form -->
                    <li class="has-form hide-for-medium-down">
                        <form action="#" accept-charset="utf-8" method="get" class="search-form" role="search">                                         <div class="row collapse">
                                <div class="large-8 small-9  columns">
                                    <input type="text" id="search-field" name="q" value="" placeholder="Search store..." class="hint" />
                                </div>
                                <div class="large-4 small-3 columns">
                                    <input type="submit" id="search-submit" class=" button expand" value="Search" />
                                </div>
                            </div>
                        </form>
                    </li>
                    <!-- End Search Form -->
                    <li>
                        <a href="#">My Account</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</header>

{% block body %}{% endblock %}

<footer id="footer" class="large-12 columns">
    <div class="row">
        <div class="large-6 medium-6 small-12 columns social">
            <div id="footerNav">
                <a href="#" title="Instagram" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" title="Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" title="Twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns contacts">
            <h3>
                <a href="mailto:hello@enjoykitchencatering.com" target="_blank">hello@enjoykitchencatering.com</a>
            </h3>
            <h3>
                <a href="#" target="_blank">508.XXX.XXXX</a>
            </h3>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ asset('js/vendor/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

<script>
    $("#how-it-works-btn").on('click', function (e) {
        $jumpTarget = $('#how-it-works');
        if ($jumpTarget.length > 0) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: $jumpTarget.offset().top - 20
            }, 1300);
        }
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>