<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Enjoy Kitchen {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/foundation-icons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <script src="{{ asset('js/vendor/modernizr.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('js/foundation.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:100,200,100italic,700normal,700italic|Sorts+Mill+Goudy:400|Montserrat:400"/>
    <!-- foundation datepicker start -->
    <link rel="stylesheet" href="{{ asset('css/foundation-datepicker.css') }}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/foundation-datepicker.js') }}"></script>
    <!-- foundation datepicker end -->
</head>
<body>
<!-- Navigation -->
<header id="header">
    <div data-annotation-alignment="bottom left" data-edit-main-image="Banner" data-collection-id="54f7f6c9e4b0683da0c7e15c" data-content-field="page-settings" class="wrapper clear" id="yui_3_17_2_1_1432459322975_342">
        <div class="primary-image default"></div>
        <div class="logo-image" id="logo">
            <h1 data-content-field="site-title" class="site-title" id="yui_3_17_2_1_1432459322975_341">
                <div class="site-title-border"></div>
                <a href="{{ path('homepage') }}" id="yui_3_17_2_1_1432459322975_340">
                    <img alt="Enjoy Kitchen Catering" src="{{ asset('img/logo.png') }}">
                    <span class="site-title-span" data-shrink-original-size="100" style="letter-spacing: 0.04em;">Enjoy Kitchen Catering</span>
                </a>
            </h1>
            <div class="introText">
                <h2>
                    Offering a customized approach to seamless entertaining.
                </h2>
                <p>The Enjoy Kitchen chefs will shop, cook, and prepare... All you have to do is serve. As a culinary concierge, we can deliver right to your dining room table allowing you one more hour at the beach!</p>
                <p>Prices are per person with a $200 minimum order. Our delivery fee is $35 or pick-up at Annye's is free.</p>
            </div>
        </div>
        <div class="folder-nav"></div>
    </div>
    <div class="fixed">
        <nav data-topbar="" class="top-bar">
            <ul class="title-area">
                <li class="name"></li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
                {% if departmentsInMenu|length %}
                    <ul class="left">
                        <li><a href="{{ path('store_search_by_keyword') }}?keyword=today">Today's menu</a></li>
                        <li><a href="{{ path('store_search_by_keyword') }}?keyword=tomorrow">Tomorrow's menu</a></li>
                        {% for department in departmentsInMenu %}
                            <li class="has-dropdown"><a href="{{ path('store_search_by_department', {'id': department.id}) }}">{{ department.name }}</a>
                                {% if department.categories|length %}
                                    <ul class="dropdown">
                                        {% for category in department.categories %}
                                            <li><a href="{{ path('store_search_by_category', {'id': category.id}) }}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li><li class="divider"></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul class="right">
                    <li>
                        <a href="#" class="has-tip tip-bottom noradius" title="$0.00" style="border-bottom:0;">
                            <span data-tooltip title="$0.00" data-options="disable_for_touch:true"><i class="fi-shopping-cart white"></i> 0 items</span>
                        </a>
                    </li>
                    <!-- Search Form -->
                    <li class="has-form hide-for-medium-down">
                        <form action="#" accept-charset="utf-8" method="get" class="search-form" role="search">
                            <div class="row collapse">
                                <div class="large-8 small-9  columns">
                                    <input type="text" id="search-field" name="q" value="" placeholder="Search store..."
                                           class="hint"/>
                                </div>
                                <div class="large-4 small-3 columns">
                                    <input type="submit" id="search-submit" class=" button expand" value="Search"/>
                                </div>
                            </div>
                        </form>
                    </li>
                    <!-- End Search Form -->
                    <li>
                        <a href="#">Log In</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</header>

{% block body %}{% endblock %}

<footer id="footer" class="large-12 columns">
    <div class="row">
        <div class="large-6 medium-6 small-12 columns social">
            <div id="footerNav">
                <a href="#" title="Instagram" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" title="Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" title="Twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns contacts">
            <h3>
                <a href="mailto:hello@enjoykitchencatering.com" target="_blank">hello@enjoykitchencatering.com</a>
            </h3>
            <h3>
                <a href="#" target="_blank">508.XXX.XXXX</a>
            </h3>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

<script>
    $(document).foundation({
        abide: {
            timeout: 1000,
            validators: {
                // Custom validator
                productOptionChecked: function (el, required, parent) {
                    var valid = false,
                        groupopt = el.getAttribute('data-groupopt'),
                        options = document.querySelectorAll('[data-groupopt]');

                    if (options.length > 0) {
                        for (var i = 0; i < options.length; i++) {
                            if (options[i].getAttribute('data-groupopt') == groupopt && options[i].checked) {
                                valid = true;
                                break;
                            }
                        }
                    }

                    return valid;
                }
            }
        }
    });

    $(function () {
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        $('#upcoming-specials')
            .fdatepicker({
                onRender: function (date) {
                    return date.valueOf() <= now.valueOf() ? 'disabled' : '';
                }
            })
            .on('changeDate', function (ev, l) {
                dealsDate = new Date(ev.date);

                dealsDate.setDate(dealsDate.getDate() + 1);
                var yy = dealsDate.getFullYear(),
                    mm = dealsDate.getMonth(),
                    dd = dealsDate.getDate();

                mm += 1;
                if (parseInt(mm) < 10) {
                    mm = '0' + mm;
                }
                if (parseInt(dd) < 10) {
                    dd = '0' + dd;
                }
                window.location.href = '/store/upcoming-specials/' + yy + '-' + mm + '-' + dd;
            });
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>