{% extends 'admin/base.html.twig' %}

{% block title %}Store Products{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('department_index') }}">Departments</a></li>
        <li><a href="{{ path('category_index', {'departmentId': department.id}) }}">Categories</a></li>
        <li><a href="{{ path('product_index', {'departmentId': department.id, 'categoryId': category.id}) }}">Products</a></li>
        <li class="current"><a href="{{ path('product_index', {'departmentId': department.id, 'categoryId': category.id, 'productId': product.id}) }}">Product Details</a></li>
    </ul>
{% endblock %}

{% block body %}
    <section id="adminProductsDetailViewContainer" class="admin-content-container">
        <div class="row">
            <div class="large-8 columns large-centered">
                {{ form_start(form, {'multipart': true}) }}
                    <div class="row">
                        <div class="large-8 columns">
                            {{ form_row(form.name, {'label': 'Product Title'}) }}
                        </div>
                        <div class="large-4 columns">
                            {{ form_row(form.isTaxable, {'label': 'Taxable', 'required': false}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            {{ form_row(form.price, {'label': 'Price', 'required': false}) }}
                        </div>
                        <div class="large-4 columns">
                            {{ form_row(form.qty, {'label': 'Qty', 'required': false}) }}
                        </div>
                        <div class="large-4 columns">
                            {{ form_row(form.dimension, {'label': 'Dimension', 'required': false}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            {{ form_row(form.availability, {'label': 'Availability Time', 'required': false}) }}

                            <div id="availability-tags"{% if (product.availability != 'weekdays' and product.availability != 'multidays') %} style="display: none;"{% endif %}>
                                <input type="hidden" id="availabilityDays" name="availabilityDays" value="{{ product.availabilityDays }}">
                                <ul id="availability_days_tags"></ul>
                                <small id="availability_days_error" class="error" style="display: none;"></small>
                            </div>
                            <p{% if (product.availability != 'weekdays') %} style="display: none;"{% endif %} id="prepopulate-inner"><a id="lnkPrepopulate" href="#" class="button tiny">Pre-populate Dates</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            {{ form_row(form.description, {'label': 'Description', 'required': false}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Tags
                                <small>(comma separated)</small>
                                <input type="text" id="tags" name="tags" value="" placeholder="Product Tags...">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Photo(s) Upload
                                <input type="file" name="photos[]" placeholder="Product Photo..." multiple>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="submit" value="Save" class="button expand">
                        </div>
                    </div>

                    {% if (product.photos|length > 0) %}
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Uploaded Images</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <ul id="sortable" class="small-block-grid-2 large-block-grid-4">
                                    {% for photo in product.photos %}
                                        <li id="image_{{ photo.id }}">
                                            <a id="delimage_{{ photo.id }}" href="#" class="delimage">X</a>
                                            <img data-caption="" class="th" src="/{{ uploadDirLarge }}{{ photo.fileName }}" alt=""><br>
                                            <input type="text" id="caption_{{ photo.id }}" name="caption_{{ photo.id }}" value="{{ photo.caption }}" placeholder="Caption...">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        var ajax_endpoint = '{{ app.request.uri }}';

        $(function () {
            $sortableElem = $('#sortable');
            
            // sortable
            $sortableElem.sortable({
                items: 'li',
                update: function (event, ui) {
                    $.ajax({
                        type: 'post',
                        url: '{{ path('photo_sort', {'departmentId': department.id, 'categoryId': category.id}) }}',
                        dataType: 'json',
                        data: $('#sortable').sortable('serialize'), // End data
                        success: function (result) {
                            if (!result) {
                                alert('No response from the server.');
                            } else if (result.code == '2') {
                                window.location = '{{ path('security_login') }}';// expired session
                            } else if (result.code == '0') {
                                //ok
                            } else {
                                alert(result.message);
                            }
                        }, // End success
                        error: function (request, error) {
                            var errmsg = '';
                            if (error == 'timeout') errmsg = 'The request timed out';
                            else errmsg = 'ERROR: ' + error;
                            if (errmsg != '') console.log(errmsg);
                        } // End error
                    }); // End ajax method
                }
            });

            $sortableElem.on('click', 'a[id^="delimage_"]', function(e){
                e.preventDefault();
                var photo_id = $(this).attr('id').split('_')[1];
                $.ajax({
                    type: 'post',
                    url: ajax_endpoint,
                    dataType: 'json',
                    data: { ajax_req: 'delete_photo', photo_id: photo_id }, // End data
                    success: function(result) {
                        if(!result) {
                            alert('No response from the server.');
                        } else if (result.code == '2') {
                            window.location = '{{ path('security_login') }}';// expired session
                        } else if(result.code == '0') {
                            $('#image_' + photo_id).remove();
                            $('#sortable').sortable('refresh');
                        } else {
                            alert(result.message);
                        }
                    }, // End success
                    error: function(request, error) {
                        var errmsg = '';
                        if (error == 'timeout') errmsg = 'The request timed out';
                        else errmsg = 'ERROR: ' + error;
                        if (errmsg != '') alert(errmsg);
                    } // End error
                }); // End ajax method
            });
        });

    </script>
{% endblock %}
