{% extends 'admin/base.html.twig' %}

{% block title %}Store Products{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('department_index') }}">Departments</a></li>
        <li><a href="{{ path('category_index', {'departmentId': department.id}) }}">Categories</a></li>
        <li class="current"><a href="{{ path('product_index', {'departmentId': department.id, 'categoryId': category.id}) }}">Products</a></li>
    </ul>
{% endblock %}

{% block body %}
    <section id="adminIndexViewContainer" class="admin-content-container">
        <div class="row">
            <div class="large-8 columns large-centered">
                <form id="itemsForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Products in {{ category.name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <ul id="sortable">
                                {% for product in products %}
                                    <li id="item_{{ product.id }}">
                                        <div class="row collapse">
                                            <div class="small-12 columns handle">
                                                <div class="row collapse">
                                                    <div class="small-1 columns handle">
                                                        <span class="prefix">
                                                            <span class="ui-icon ui-icon-arrowthick-2-n-s handler"></span>
                                                        </span>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <input type="text" id="name_{{ product.id }}"
                                                               name="name_{{ product.id }}"
                                                               value="{{ product.name }}"
                                                               data-product-id="{{ product.id }}"
                                                               placeholder="Product Title..."/>
                                                    </div>
                                                    <div class="small-4 columns">
                                                        <a id="goto_children_{{ product.id }}"
                                                           href="{{ path('product_edit', {'departmentId': category.departmentId, 'categoryId': category.id, 'id': product.id}) }}"
                                                           class="button postfix tiny">Details</a>
                                                    </div>
                                                    <div class="small-1 columns">
                                                        <a id="delItem_{{ product.id }}" href="#"
                                                           class="button postfix alert">X</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="button" id="addItemBtn" name="addItemBtn" value="Add Product"
                                   class="button expand"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Reveal Modals begin -->
        <div id="confirmModal" class="reveal-modal small" data-reveal>
            <h2>Please Confirm</h2>
            <p>Are you sure you want to delete this product?</p>
            <p>
                <a id="btnNo" href="#" class="button secondary">No</a>
                <a id="btnYes" href="#" class="button alert">Yes</a>
            </p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        var ajax_endpoint = '{{ app.request.uri }}';

        $(function () {
            $sortableElem = $('#sortable');

            prepareSortable($sortableElem);

            // update product
            $sortableElem.on('change', 'input[id^="name_"]', function () {
                var item_id = $(this).data('product-id');
                var name = $.trim($('#name_' + item_id).val());

                $.ajax({
                    type: 'post',
                    url: ajax_endpoint + item_id + '/edit',
                    dataType: 'json',
                    data: { _csrf_token: '{{ csrf_token('authenticate') }}', id: item_id, name: name }, // End data
                    success: function (result) {
                        if (!result) {
                            alert('No response from the server.');
                        } else if (result.code == '2') {
                            window.location = '{{ path('security_login') }}';// expired session
                        } else if (result.code == '0') {
                            //ok
                        } else {
                            alert(result.message);
                        }
                    }, // End success
                    error: function (request, error) {
                        var errmsg = '';
                        if (error == 'timeout') errmsg = 'The request timed out';
                        else errmsg = "ERROR: " + error;
                        if (errmsg != '') alert(errmsg);
                    } // End error
                }); // End ajax method
            });

            $sortableElem.on('click', 'a[id^="delItem_"]', function (e) {
                e.preventDefault();
                item_to_delete = $(this).attr('id').split('_')[1];
                $('#confirmModal').foundation('reveal', 'open');
            });

            $('#btnNo').bind('click', function (e) {
                e.preventDefault();
                $('#confirmModal').foundation('reveal', 'close');
            });

            $('#btnYes').bind('click', function (e) {
                e.preventDefault();
                var item_id = item_to_delete;
                $.ajax({
                    type: 'post',
                    url: ajax_endpoint + item_id + '/delete',
                    dataType: 'json',
                    data: { _csrf_token: '{{ csrf_token('authenticate') }}', id: item_id }, // End data
                    success: function (result) {
                        if (!result) {
                            alert('No response from the server.');
                        } else if (result.code == '2') {
                            window.location = '{{ path('security_login') }}';// expired session
                        } else if (result.code == '0') {
                            item_to_delete = 0;
                            $('#item_' + item_id).remove();
                            $('#confirmModal').foundation('reveal', 'close');
                        } else {
                            alert(result.message);
                        }
                    }, // End success
                    error: function (request, error) {
                        var errmsg = '';
                        if (error == "timeout") errmsg = "The request timed out";
                        else errmsg = "ERROR: " + error;
                        if (errmsg != '') alert(errmsg);
                    } // End error
                }); // End ajax method
            });

            $('#addItemBtn').bind('click', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'post',
                    url: '{{ path('product_new', {'departmentId': department.id, 'categoryId': category.id}) }}',
                    dataType: 'json',
                    data: { _csrf_token: '{{ csrf_token('authenticate') }}' },
                    success: function (result) {
                        if (!result) {
                            alert('No response from the server.');
                        } else if (result.code == '2') {
                            window.location = '{{ path('security_login') }}';// expired session
                        } else if (result.code == '0') {
                            var item_id = result.data.id;
                            var name = result.data.name;

                            var s = '<li id="item_' + item_id + '">';
                            s += '<div class="row collapse">';
                            s += '<div class="small-12 columns handle">';
                            s += '<div class="row collapse">';
                            s += '<div class="small-1 columns handle">';
                            s += '<span class="prefix">';
                            s += '<span class="ui-icon ui-icon-arrowthick-2-n-s handler"></span>';
                            s += '</span>';
                            s += '</div>';
                            s += '<div class="small-6 columns">';
                            s += '<input type="text" id="name_' + item_id + '" name="name_' + item_id + '" data-product-id="' + item_id + '" value="' + name + '" placeholder="Product Title..." />';
                            s += '</div>';
                            s += '<div class="small-4 columns">';
                            s += '<a id="goto_children_' + item_id + '" href="' + ajax_endpoint + item_id + '/edit" class="button postfix tiny">Details</a>';
                            s += '</div>';
                            s += '<div class="small-1 columns">';
                            s += '<a id="delItem_' + item_id + '" href="#" class="button postfix alert">X</a>';
                            s += '</div>';
                            s += '</div>';
                            s += '</li>';

                            $('#sortable').append(s).sortable('refresh');
                        } else {
                            alert(result.message);
                        }
                    }, // End success
                    error: function (request, error) {
                        var errmsg = '';
                        if (error == 'timeout') errmsg = 'The request timed out';
                        else errmsg = "ERROR: " + error;
                        if (errmsg != '') alert(errmsg);
                    } // End error
                });
            });
        });

        // sortable
        function prepareSortable ($sortableElem) {
            $sortableElem.sortable({
                handle: '.handle',
                axis: 'y',
                items: 'li',
                update: function (event, ui) {
                    $.ajax({
                        type: 'post',
                        url: '{{ path('product_sort', {'departmentId': department.id, 'categoryId': category.id}) }}',
                        dataType: 'json',
                        data: $('#sortable').sortable('serialize'), // End data
                        success: function (result) {
                            if (!result) {
                                alert('No response from the server.');
                            } else if (result.code == '2') {
                                window.location = '{{ path('security_login') }}';// expired session
                            } else if (result.code == '0') {
                                //ok
                            } else {
                                alert(result.message);
                            }
                        }, // End success
                        error: function (request, error) {
                            var errmsg = '';
                            if (error == "timeout") errmsg = "The request timed out";
                            else errmsg = "ERROR: " + error;
                            if (errmsg != '') console.log(errmsg);
                        } // End error
                    }); // End ajax method
                }
            });
        }

    </script>
{% endblock %}
