{% extends 'base.html.twig' %}

{% block title %}| Orders{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('account_orders') }}">{% if app.user.isAdmin %}Store{% else %}My{% endif %} Orders</a></li>
        <li class="current"><a href="{{ path('account_order_details', {'id': order.id}) }}">Order #{{ order.orderNum }} Details, Order Date: {{ order.orderDate|date("M j, Y H:i") }}</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Order #{{ order.orderNum }} Details, Order Date: {{ order.orderDate|date("M j, Y H:i") }}</h3>
            <div class="row">
                <div class="small-8 columns">
                    <h5>Item</h5>
                </div>
                <div class="small-4 columns">
                    <div class="row">
                        <div class="large-4 columns">
                            <h5>Qty</h5>
                        </div>
                        <div class="large-4 columns">
                            <h5>Subtotal</h5>
                        </div>
                        <div class="large-4 columns">
                            <h5>State Tax</h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            {% if order.deliveries|length > 0 %}
                {% for delivery in order.deliveries %}
                    <p>{{ delivery.deliveryDate|date("M j, Y H:i") }}</p>
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="row">
                                <div class="small-6 columns">
                                    <h3>Delivery Date: {% if delivery.deliveryDate == "now"|date("Y-m-d") %}Today{% elseif delivery.deliveryDate == "tomorrow"|date("Y-m-d") %}Tomorrow{% else %}{{ delivery.deliveryDate|date("F jS, l") }}{% endif %}</h3>
                                </div>
                                <div class="small-6 columns">
                                    <h3 class="subheader">Delivery Method: {{ delivery.deliveryMethod }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="subheader">Delivery Cost: ${{ delivery.cost|number_format(2, '.', ',') }}</h5>
                    {% for product in delivery.products %}
                        <div class="row">
                            <div class="small-8 columns">
                                <div class="row">
                                    <div class="large-9 columns">
                                        <div class="row">
                                            <div class="large-12 columns">
                                                <h3>{{ product.name }} <span> -
                                                        {% if product.oldPrice != '' and product.oldPrice > product.price %}
                                                            <span class="skuPrice">${{ product.oldPrice|number_format(2, '.', ',') }}</span>
                                                        {% endif %}
                                                        ${{ product.price|number_format(2, '.', ',') }}
                                                    </span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-4 columns">
                                <div class="row">
                                    <div class="large-4 columns">
                                        <p><span class="qty">{{ product.qty }}</span></p>
                                    </div>
                                    <div class="large-4 columns">
                                        <p><span class="price">${{ (product.qty * product.price)|number_format(2, '.', ',') }}</p>
                                    </div>
                                    <div class="large-4 columns">
                                        <p><span class="price">${{ product.taxes|number_format(2, '.', ',') }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="large-9 columns">
                        &nbsp;
                    </div>
                    <div class="large-3 columns">
                        <h5>Subtotal <em>${{ order.subtotal|number_format(2, '.', ',') }}</em></h5>
                        <h5>Taxes <em>${{ order.taxes|number_format(2, '.', ',') }}</em></h5>
                        <h5>Delivery Cost <em>${{ order.delivery|number_format(2, '.', ',') }}</em></h5>
                        <h4>Total <em>${{ order.total|number_format(2, '.', ',') }}</em></h4>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="large-12 columns">
                        <p>Shopping cart is empty.</p>
                    </div>
                </div>
            {% endif %}
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div id="billing-info" class="large-6 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Billing Info</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>First Name : {{ order.billingFirstName }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Last Name : {{ order.billingLastName }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>E-mail : {{ order.billingEmail }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Phone : {{ order.billingPhone }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Address : {{ order.billingAddress }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Address 2 : {{ order.billingAddress2 }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>City : {{ order.billingCity }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>State : {{ order.billingState }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Zip : {{ order.billingZip }}</label>
                        </div>
                    </div>
                </div>
                <div id="shipping-info" class="large-6 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Shipping Info</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>First Name : {{ order.shippingFirstName }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Last Name : {{ order.shippingLastName }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>E-mail : {{ order.shippingEmail }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Phone : {{ order.shippingPhone }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Address : {{ order.shippingAddress }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Address 2 : {{ order.shippingAddress2 }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>City : {{ order.shippingCity }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>State : {{ order.shippingState }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Zip : {{ order.shippingZip }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="payment-info" class="large-6 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h3>Payment Info</h3>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Credit Card Type : {{ order.creditCardType }}</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Expiration Date : {{ order.creditCardMonth }} / {{ order.creditCardYear }}</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Credit Card Number : {{ order.creditCardNumber }}</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Name on Card : {{ order.creditCardName }}</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

