{% extends 'base.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'accept-charset': 'utf-8', 'novalidate': 'novalidate'}}) }}
        <section class="product-detail-container">
            <div class="row">
                <div class="large-12 columns">
                    <h1 class="product-title">{{ product.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div id="product-images-{{ product.id }}" class="large-6 columns">
                    <div id="main-image-{{ product.id }}">
                        <img src="/{{ uploadDirLarge }}{{ product.photo }}" title="{{ product.name }}" alt="{{ product.name }}">
                    </div>
                    <ul class="small-block-grid-2 large-block-grid-4 product-thumbs">
                        {% for photo in product.photos %}
                            <li>
                                <img data-caption="{{ photo.caption }}" class="th" src="/{{ uploadDirLarge }}{{ photo.fileName }}" alt="{{ photo.caption }}" data-photo-id="{{ photo.id }}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="product-details-{{ product.id }}" class="large-4 columns">
                    {% if error != '' %}
                        <div data-alert class="alert-box alert radius">
                            {{ error|raw }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endif %}
                    <div id="product-description-{{ product.id }}">
                        <p>{{ product.description }}</p>
                    </div>
                    <div id="product-price-{{ product.id }}">
                        <p>$<span id="price-label">{{ product.price|number_format(2, '.', ',') }}</span></p>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div id="product-options-{{ product.id }}"></div>
                    <div id="product-variants-{{ product.id }}">
                        <div class="columns large-9">
                            {{ form_row(form.qty, {'label': 'Quantity', 'required': true, 'attr': {'value': 0, 'pattern': '[0-9]+'}}) }}
                        </div>
                    </div>

                    <div id="shipping-date-{{ product.id }}" class="columns large-12">
                        {{ form_row(form.shippingDate, {'label': 'Delivery Date', 'required': true}) }}
                    </div>
                    <div id="product-add-{{ product.id }}" class="columns large-12">
                        <p><input type="submit" id="add_{{ product.id }}" name="add_{{ product.id }}" value="Add to Cart" class="button small"></p>
                    </div>
                </div>
            </div>
        </section>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('img.th', '.product-thumbs').on('mouseover', function () {
                $('#main-image-{{ product.id }} > img').attr('src', $(this).attr('src'));
            });
        });
    </script>
{% endblock %}