{% extends 'base.html.twig' %}

{% block title %}| Login or Signup{% endblock %}

{% block body %}
    <section id="adminLoginContainer" class="content-box">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-6 columns">
                        <fieldset>
                            <legend>Already a Member?</legend>
                            {{ form_start(loginForm) }}
                                {{ form_row(loginForm.email) }}
                                {{ form_row(loginForm.password) }}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <p><a href="#">Forgot your password?</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <input type="submit" name="signin" value="Sign in" class="button expand">
                                    </div>
                                </div>
                            {{ form_end(loginForm) }}
                        </fieldset>
                    </div>
                    <div class="large-6 columns">
                        <fieldset>
                            <legend>Not a Member?</legend>
                            {{ form(signupForm, {'action': path('checkout_signup')}) }}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

