{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
    <section id="productsContainer">
        {% if items|length > 0 %}
            {% for departmentId, catgs in items %}
                {% for categoryId, products in catgs %}
                    <section class="categories clearfix">
                        <div class="row category-header">
                            <div class="large-12 columns">
                                <h1 class="category-title">{{ categories[categoryId].name }}</h1>
                                {% if categories[categoryId].description|length %}
                                    <h4 class="subheader">{{ categories[categoryId].description }}</h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="large-12 columns category-body">
                            <div class="row">
                                {% for productId, product in products %}
                                    <div class="large-4 medium-6 small-12 columns{% if products|length == loop.index %} end{% endif %}">
                                        <div class="product-container">
                                            <div class="imageInner">
                                                {% if product.qty <= 0 %}
                                                    <span class="unavailable-tag"></span>
                                                    <img src="{% if product.photo|length %}/{{ uploadDirLarge }}{{ product.photo }}{% else %}{{ asset('uploads/no_image_707x539.gif') }}{% endif %}" title="{{ product.name }}" alt="{{ product.name }}">
                                                {% else %}
                                                    <a href="#">
                                                        <img src="{% if product.photo|length %}/{{ uploadDirLarge }}{{ product.photo }}{% else %}{{ asset('uploads/no_image_707x539.gif') }}{% endif %}" title="{{ product.name }}" alt="{{ product.name }}">
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="panel captionInner">
                                                <h5>{{ product.name }}</h5>
                                                <h6 class="subheader">${{ product.price }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            {% endfor %}
        {% else %}
        <section class="categories clearfix">
            <div class="row category-header">
                <div class="large-12 columns">
                    <h1 class="category-title">No products found.</h1>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}

